{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block body %}

<div class="customCard">
    <div class="images">
        <img src="https://symfony.com/logos/symfony_black_03.png"/>
    </div>

    <div>
        <div class="columns">
            <h2>O que é Symfony</h2>
            <p class="justify">É um Framework amplamente conhecido por ter sido um dos primeiros a trabalhar com componentes, possibilitando o reuso do seu código em diversos projetos open sources. Os principais pontos em sua filosofia são:</p>
            
        </div>

        <div class="columns">
            <h2>Comunidade</h2>
            <p class="justify">Sua comunidade conta com mais de 600.000 desenvolvedores de mais de 120 países, tornando a implementação de novas funcionalidades ao Framework um processo rápido.</p>
        </div>

        <div class="columns">
            <h2>Principais Pontos</h2>
            <p class="justify">Sua filosofia busca:</p>
            <ul>
                <li>A utilização de melhores práticas de desenvolvimento;</li>
                <li>A criação de aplicações profissionais;</li>
                <li>A interoperabilidade de aplicações.</li>
            </ul>

        </div>
        
    </div>

</div>
{% endblock %}
