{% extends 'base.html.twig' %}

{% block title %}Database Page!{% endblock %}

{% block body %}

<div class="customCard">
    <div class="images">
        <h1>Database Page</h1>
    </div>

    <div>
        
    </div>

</div>
{% endblock %}
